# General
.DS_Store
.idea/
.vscode/

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.pytest_cache/

# Flutter / Frontend
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/pubspec.lock
frontend/android/.gradle
frontend/android/local.properties
frontend/ios/.symlinks
frontend/ios/Pods/

# AWS / Secrets
*.pem
secrets.json
aws_credentials
