services:
  - type: web
    name: jansathi-backend
    runtime: docker
    region: singapore
    plan: free
    envVars:
      - key: PORT
        value: 10000
      - key: WEB_CONCURRENCY
        value: 1
