name: Deployment Pipeline

on:
    push:
        branches: [vishal]
    pull_request:
        branches: [vishal]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 20
                  cache: "npm"
                  cache-dependency-path: frontend/package-lock.json

            - name: Install Frontend Deps
              working-directory: ./frontend
              run: npm ci

            - name: Lint Frontend
              working-directory: ./frontend
              run: npm run lint

            - name: Build Frontend
              working-directory: ./frontend
              run: npm run build

    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3

            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.12"
                  cache: "pip"

            - name: Install Backend Deps
              working-directory: ./backend
              run: |
                  pip install -r requirements.txt
                  pip install pytest

            - name: Run Tests
              working-directory: ./backend
              run: pytest
